/* Center list of upcoming events on large screen sizes. -MW */
.widget tribe-events-adv-list-widget {
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

@media only screen and (max-width: 750px) {
   /* Center list of upcoming events on smaller screen sizes. -MW */
   .widget tribe-events-adv-list-widget {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
   }
}
